@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
*,
html,
body {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body {
	background: #acacac;
	color: rgb(44, 44, 44);
	font-family: "Nunito";
}
a {
	color: #333;
	text-decoration: none;
}
.logo {
	color: rgb(109, 61, 5);
	font-style: italic;
}
.content {
	max-width: 960px;
	margin: 0 auto;
}
nav {
	margin: 10px auto 80px;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ddd;
}
nav a {
	margin-left: 20px;
}

footer {
	display: block;
	text-align: center;
	padding: 30px 0;
	margin-top: 60px;
	color: #777;
	border-top: 2px solid #eaeaea;
}

.not-found a {
	color: #4979ff;
	text-decoration: underline;
}
